@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos customizados */
.leaflet-popup-content-wrapper {
  @apply rounded-lg shadow-lg;
}

.risk-high {
  @apply bg-red-100 text-red-800;
}

.risk-low {
  @apply bg-green-100 text-green-800;
}
